/* Importar Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333333;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

/* Estilos del botón de hamburguesa */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
    margin-left: 25px;
    /* Ya no se necesita position absolute si la navbar tiene flex */
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 3px;
}

/* Ocultar la lista por defecto y permitir que se muestre cuando .open se active */
.navbar ul {
    display: block;
    width: 100%;
    background-color: #333333;
    list-style: none;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 100%;  /* Situar justo debajo de la navbar */
    left: 0;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transición suave para transform y opacity */
}

.navbar ul.open {
    display: block;
    transform: scaleY(1);
    opacity: 1;
}


/* Navigation bar styles */
.navbar {
    width: 100%;
    background-color: #333333;
    padding: 15px 0;  /* Aumento del padding para más altura */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;  /* Alineación vertical de todos los elementos de la navbar */
    justify-content: space-between;  /
}

.navbar li {
    display: block;
    margin-bottom: 10px;
}

.navbar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.navbar a.active,
.navbar a:hover {
    color: #FFC107;
}

/* Section styles */
section {
    padding: 80px 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.home a {
    display: inline-block; /* Permite la transformación */
    animation: pulsate 2s infinite ease-in-out; /* La animación se repite indefinidamente */
    text-decoration: none; /* Quita el subrayado para que no distraiga */
    color: #FFC107; /* Opcional: Cambia el color para resaltar */
    transition: color 0.2s; /* Suaviza el cambio de color al hacer hover */
    font-weight: bold;
  }
  
  /* Opcional: Cambiar el color al hacer hover para indicar interactividad */
  .home a:hover {
    color: #333333; /* O el color que desees al hacer hover */
  }

  .home h1 {
    overflow: hidden; /* Previene que las palabras animadas se muestren fuera de la vista */
  }
  
  .home h1 span {
    display: inline-block;
    margin-right: 0.2em; /* Ajusta al gusto para el espaciado entre palabras */
    opacity: 0;
    transform: translateY(-100%);
    animation: dropIn 0.5s forwards ease-out;
  }
  
  .home h1 span:nth-child(1) {
    animation-delay: 0.5s;
  }
  .home h1 span:nth-child(2) {
    animation-delay: 0.7s;
  }
  .home h1 span:nth-child(3) {
    animation-delay: 0.9s;
  }
  .home h1 span:nth-child(4) {
    animation-delay: 1.1s;
  }
  
  @keyframes dropIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/* Project grid styles */
.project-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    background-color: #E1F5FE;
}

.card {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
}

.card a{
    color: #333333;
    margin-top: auto;
    align-self: center;
    bottom: 20px; /* Coloca el enlace 15px por encima del fondo del card */
}

.card img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* About Me section */
.about-container {
    flex-direction: column;
    text-align: center;
}

.about-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.about-text {
    width: 100%;
}

.about-text p{
    text-align: justify;
}

/* Contact section styles */
.contact-info {
    background-color: #333333;
    color: #FFFFFF;
}

.contact-info a {
    color: #FFC107;
    text-decoration:none;
    animation: pulsate 2s infinite ease-in-out;
}

.contact-info p {
    text-align: center;
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Centrar contenido verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Botones de navegación del carrusel */
.swiper-button-next, .swiper-button-prev {
    color: #000;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-pagination {
    bottom: 10px;
    display: none;
}

@keyframes pulsate {
    0% {
      transform: scale(0.9);
      opacity: 0.5;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0.9);
      opacity: 0.5;
    }
  }
